VuelingClientWcf/Connected Services/WebReference/StudentWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StudentWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd2" namespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" />
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CustomValidations" />
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Vueling.Distributed.WebServices.Contracts" />
      <xsd:import schemaLocation="http://localhost:2143/StudentWebService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Vueling.Distributed.WebServices.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentWebService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_GetData_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_ConcatStrings_InputMessage">
    <wsdl:part name="parameters" element="tns:ConcatStrings" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_ConcatStrings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConcatStringsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_ConcatStrings_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentWebService_Add_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="IStudentWebService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentWebService/GetData" message="tns:IStudentWebService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentWebService/GetDataResponse" message="tns:IStudentWebService_GetData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStudentWebService/GetDataValidationFaultFault" name="ValidationFaultFault" message="tns:IStudentWebService_GetData_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConcatStrings">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentWebService/ConcatStrings" message="tns:IStudentWebService_ConcatStrings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentWebService/ConcatStringsResponse" message="tns:IStudentWebService_ConcatStrings_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStudentWebService/ConcatStringsValidationFaultFault" name="ValidationFaultFault" message="tns:IStudentWebService_ConcatStrings_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentWebService/GetDataUsingDataContract" message="tns:IStudentWebService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentWebService/GetDataUsingDataContractResponse" message="tns:IStudentWebService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentWebService/Add" message="tns:IStudentWebService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentWebService/AddResponse" message="tns:IStudentWebService_Add_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStudentWebService/AddValidationFaultFault" name="ValidationFaultFault" message="tns:IStudentWebService_Add_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Http" type="tns:IStudentWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IStudentWebService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConcatStrings">
      <soap:operation soapAction="http://tempuri.org/IStudentWebService/ConcatStrings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IStudentWebService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IStudentWebService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentWebService">
    <wsdl:port name="Http" binding="tns:Http">
      <soap:address location="http://localhost:2143/StudentWebService.svc/StudentWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>